extends layout

block content
  header #{title}
  .content
    .gameboard
        canvas#game-view(height=240, width=640)

    .article
    | Use the arrow keys to change the aircraft's pitch.

  footer
    p developed with support from 
      a(href="http://msopentech.com") Microsoft Open Technologies
