extends layout

block content
  header #{title} 
    a(href="http://github.org/sjbenner/garagehackers") {source on github}
  .content
    .gameboard
        canvas#game-view(height=480, width=640)

    .article
    | Use the arrow keys to change the aircraft's pitch.

  footer
    p developed with support from 
      a(href="http://msopentech.com") Microsoft Open Technologies
