doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/client/css/app.css')
  body
    block content
    script(src="js/namespace.js")
    script(src="js/observer.js")
    script(src="js/planes.js")
    script(src="js/input.js")
    script(src="js/game.js")
